@model StockAnalysisViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>History of Stock </h1>
    <div class="d-flex flex-row">
        <span class="me-2">Fillter: </span>
        <input class="me-2" type="text" id="StockName" value="@ViewBag.StockName" />
        <input class="me-2" type="date" id="FromDate" value="@ViewBag.FromDate" max="@DateTime.Now.ToString("yyyy-MM-dd")" />
        <input class="me-2" type="date" id="ToDate" value="@ViewBag.ToDate" />
        <button onclick="Filter()">Execute</button>
    </div>
    <div class="my-2">
        <span>Data: @ViewBag.Count || Net sale: @ViewBag.NetSale || Net buy: @ViewBag.NetBuy</span>
    </div>
    @if (Model.History != null)
    {
        int index = 1;
        <table class="table">
            <thead>
                <tr>
                    <th>STT</th>
                    <th class="text-capitalize">
                        Ngay
                    </th>
                    <th class="text-capitalize">
                        Mua
                    </th>
                    <th class="text-capitalize">
                        Ban
                    </th>
                    <th class="text-capitalize">
                       Mua - Ban
                    </th>
                    <th>
                        Gia Tri Mua
                    </th>
                    <th>
                        Gia Tri Ban
                    </th>
                    <th>
                        Gia Tri Mua - Ban
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.History)
                {
                    <tr>
                        <td>
                            @(index.ToString())
                        <td>
                            @item.Date.ToString("dd/MM/yyyy")
                        </td>
                        <td>
                            @item.BuyForeignQuantity.ToString("N0")
                        </td>
                        <td>
                            @item.SellForeignQuantity.ToString("N0")
                        </td>
                        <td>
                            @((item.BuyForeignQuantity - item.SellForeignQuantity).ToString("N0"))
                        </td>
                        <td>
                            @item.BuyForeignValue.ToString("N0")
                        </td>
                         <td>
                            @item.SellForeignValue.ToString("N0")
                        </td>
                        <td>
                            @((item.BuyForeignValue - item.SellForeignValue).ToString("N0"))
                        </td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    }
</div>
<script>
    function Filter(){
        let stockName = document.getElementById("StockName").value;
        let fromDate = document.getElementById("FromDate").value;
        let toDate = document.getElementById("ToDate").value;
        window.location.href = "/Home/Index?stockName=" + stockName + "&fromDate=" + fromDate + "&toDate=" + toDate;
    }
</script>