@model IEnumerable<SharedLibrary.UserInterfaceDTO.ArticleUI>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectVN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionVN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentVN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TopicID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectVN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionVN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentVN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avatar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
