@model IEnumerable<SharedLibrary.UserInterfaceDTO.MenuGroupUI>

@{
    ViewData["Title"] = "Index";
}
<div class="container pt-2">
    <h2>Menu Group List</h2>

    <div class="d-flex justify-content-end">
        <a asp-action="Create" asp-controller="MenuGroup" class="btn btn-success">Create New</a>
    </div>
    @if (Model != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.NameEN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameVN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscriptionEN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DiscriptionVN)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameVN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscriptionEN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DiscriptionVN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a asp-action="Update" asp-controller="MenuGroup" class="btn btn-primary">Details</a>
                            <a asp-action="Delete" asp-controller="MenuGroup" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
