@model IEnumerable<SharedLibrary.UserInterfaceDTO.ProductUI>

@{
    ViewData["Title"] = "Index";
}
<div class="container pt-2">
    <h2>Production List</h2>

    <div class="d-flex justify-content-end">
        <a asp-action="Create" asp-controller="Product" class="btn btn-success">Create New</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NameEN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NameVN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameEN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameVN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td class="d-flex justify-content-end">
                        <a asp-action="Update" asp-controller="Production" class="btn btn-primary me-2">Details</a>
                        <a asp-action="Delete" asp-controller="Production" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
